@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Soulmaze-Outline-Italic";
  src: url("MADESoulmazeOutline-Italic.woff2") format("woff2"),
    url("MADESoulmazeOutline-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Italic";
  src: url("MADESoulmaze-Italic.woff2") format("woff2"),
    url("MADESoulmaze-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Brush";
  src: url("MADESoulmazeBrush.woff2") format("woff2"),
    url("MADESoulmazeBrush.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Outline";
  src: url("MADESoulmazeOutline.woff2") format("woff2"),
    url("MADESoulmazeOutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze";
  src: url("MADESoulmaze.woff2") format("woff2"),
    url("MADESoulmaze.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
